
<h1><%= book.title %></h1>
<% unless book.subtitle.nil? %><h2><%= book.subtitle %></h2><% end %>
<h3>by <%= book.author %></h3>

<% unless book.publisher_logo.nil? %>
<p><img src="../images/<%= book.publisher_logo %>" alt="logo"/></p>
<% end %>

<p class="footnotesize" style="font-style: italic;">
<% unless book.publisher.nil? %>
  Published by <%= book.publisher %><br/>
  <%= book.publisher_atag %><br/>
<% end %>
<% unless book.book_atag.nil? %>
  Find out more about this book at<br/>
  <%= book.book_atag %>
<% end %>
</p>

